<div class="col-md-3">

<a href="/admin/banner"><button class="btn btn-success form-control">Bannner management</button></a>
<a href="/admin/service"><button class="btn btn-success mt-2 form-control">Service  management</button></a>
<a href="/admin/testi"><button class="btn btn-success mt-2 form-control">Testinominals management</button></a>
<a href="/admin/query"><button class="btn btn-success mt-2 form-control">Query management</button></a>
<a href="/admin/address"><button class="btn btn-success mt-2 form-control">Address management</button></a>
<a href="/admin/dashboard"><button class="btn btn-success mt-2 form-control">Change Password</button></a>



</div>